black==22.10.0
gym==0.21.0
panda-gym==2.0.0
protobuf==3.20.3
pybullet==3.2.4
pyglet==2.0.0
sb3-contrib==1.6.2
scikit-learn==1.1.3
tensorboard==2.11.0
torch==1.13.0
wandb==0.13.5
tqdm==4.64.1
rich==13.3.1
